<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h1>ADD A NEW BOOK</h1>
    <p><a href="/home/add">click here for adding new books</a></p>
    <h1>SHOW ME ALL THE BOOKS</h1>
    <p><a href="/home/show">click here for viewing the list of the books </a></p>
    <h1>search</h1>
    <p><a href="/home/add">know dont what do yet</a></p>
    <h1>EDIT INFO ABOUT A BOOK</h1>
    <p><a href="/home/edit"> clicl here for editing the books</a></p>
    <h1>DELETE A BOOK</h1>
    <p><a href="/home/delete">click here for deleting the books</a></p>
    <h1>FILTER THE BOOKS</h1>
    <p><a href="/home/filter">click here for filtering the books</a></p>
    <p>Check out my <a href="/about">About </a> page.</p>
</body>
</html>